.body {
    background-color: #F8F0FB;
}

.main-container {
}

.navbar {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: right;
}

.player-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}

.card-container {
    margin-left: 10%;
}

.search-form {
    
}

.search-input {
    background-color: lightgray;
    border: black 1px solid;
    border-radius: 8px;
}